:root {
	--accent-green: #8ACF45;
	--accent-red: #E15454;
}
a,button {cursor: pointer;}

img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle
}
html {font-size: 14px;}

body {
	position: relative;
	color: #2F2D30;
	background-color: #E8E8E7;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100vh;
}
section {
	width: 100%;
	position: relative;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	color: inherit;
	cursor: pointer;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 660px;
}
.s-intro {
	padding: 1.9em 0 .6em;
}
.title-box {
	padding-left: 21px;
	margin-bottom: -9px;
}
.title {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.6em;
	line-height: 1.18;
	margin-bottom: .4em;
}
.subtitle {
	font-style: normal;
	color: #6A6967;
	font-size: 1.2em;
}
p {padding-bottom: 1em;}

.intro__core {
	position: relative;
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
}
.intro__price {
	position: absolute;
	top: 30px;
	left: 38px;
	background-color: var(--accent-green);
	color: #fff;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	font-size: calc(1.1em + .4vw);
	border-radius: 50%;
	width: 5em;
	height: 5em;
	line-height: .98;
	letter-spacing: .04em;
	padding-top: .1em;
}
.intro__price b {
	display: inline-block;
	padding-right: 0.1em;
	font-weight: 800;
	font-size: 1.55em;
}
.intro__discount {
	position: absolute;
	top: 130px;
	left: 10px;
	text-align: center;
}
.intro__discount-trouth {
	display: block;
	text-decoration: line-through;
	font-size: 0.94em;
	margin-bottom: .8em;
}
.intro__discount-accent {
	display: inline-block;
	background-color: var(--accent-red);
	color: #fff;
	font-weight: 600;
	letter-spacing: .03em;
	padding: 0.21em 1.25em;
}
.intro__list {
	list-style: none;
	padding: .8em 9px .2em;
}
.intro__list li {
	margin-bottom: 1.1em;
}
.form__container {
	padding: 10px 10px 13px;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}
.form {
	background-color: #fff;
	border-radius: 36px;
	padding: 2.6em 26px;
	text-align: center;
	width: 100%;
}
.form__title {
	font-weight: 800;
	font-size: 1.6em;
	text-align: center;
}
.form__title .accent {
	color: var(--accent-red);
	display: block;
	line-height: 1;
	margin-bottom: .3em;
}
.form__subtitle {
	font-size: 1.06em;
	margin-bottom: 1.3em;
	text-align: center;
}
.form__input {
	display: block;
	width: 100%;
	height: 48px;
	font-size: 1.04em;
	letter-spacing: .02em;
	color: #6A6967;
	border: 1px solid #E4E3E1;
	box-sizing: border-box;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 9px;
	-webkit-appearance: none;
	appearance: none;
	box-shadow: none!important;
	outline-color: transparent;
	transition: .4s ease;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 18px;
}
.form__input:focus {
	outline-color: transparent;
	box-shadow: none;
	border-color: currentColor;
}
.form__input:invalid:focus {color: var(--accent-red)}

::-webkit-input-placeholder {transition: .4s}
::-moz-placeholder {transition: .4s}
:-ms-input-placeholder {transition: .4s}

.btn {
	font-size: 1.33em;
	font-weight: 600;
	border: none;
	border-radius: 3em;
	text-align: center;
	white-space: nowrap;
	font-family: inherit;
	line-height: 1.1;
	letter-spacing: .03em;
	transition:.35s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline-color: transparent;
	padding: 1.1em 2.7em;
	background-color: var(--accent-green);
	color: #fff;
}
.btn:hover {background: #6FAC31;}

.form .btn  {margin-top: 5px;}

.small-pop-up {
	position: relative;
	width: calc(100% - 28px);
	max-width: 600px;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(1,2,2,.06);
	border-radius: 16px;
	margin: auto;
	padding: 48px 30px 23px;
	text-align: center;
}
.small-pop-up .mfp-close {display: none;}

.mfp-bg {background-color: rgba(40,40,40,.7)}

.popup__title {
	font-weight: 800;
	font-size: 1.6em;
	color: var(--accent-green);
	margin-bottom: .5em;
	text-transform: uppercase;
}
.popup__title--error {color: var(--accent-red);}

@media (min-width: 600px){
	.wrapper {padding: 2em 0;}
}
@media (max-width: 359px){
	.intro__price {
		top: 17px;
		left: 19px;
	}
	.intro__discount {
		top: 114px;
		left: -4px;
	}
}